# 序列
把一个字符串转换为Unicode码位列表

In [1]:
symbols='$¢£¥€¤'
codes=[ord(code) for code in symbols]
codes

[36, 162, 163, 165, 8364, 164]

### 列表推到不会再有变量泄露的问题

In [11]:
x="test"
codes=[x for x in [1,2,3] ]
codes

[1, 2, 3]

In [12]:
x

'test'

### 列表推倒比filter 和map 更简单

In [15]:
symbols='$¢£¥€¤'
beyond_ascii=[ord(code) for code in symbols if ord(code) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [18]:
symbols='$¢£¥€¤'
beyond_ascii=list(filter(lambda x: x>127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

### 笛卡尔积

In [20]:
colors=['black','white']
sizes=['L','M','S']
tshirts=[(color,size) for color in colors for size in sizes]
tshirts

[('black', 'L'),
 ('black', 'M'),
 ('black', 'S'),
 ('white', 'L'),
 ('white', 'M'),
 ('white', 'S')]

## 生成器表达式
列表推倒通常用于从列表生成另外一个列表。如果想生成其他类型的序列，建议使用生成表达式
__区别__： 列表推倒会预先分配固定的内存空间给新的列表，然而生成表达式不会，从而避免了额外的内存占用
### 笛卡尔积

In [21]:
colors=['black','white']
sizes=['L','M','S']
# 这里使用到了元祖的拆分
for tshirt in ('%s %s' % (color,size) for color in colors for size in sizes):
    print(tshirt)

black L
black M
black S
white L
white M
white S

## 元组
元组不仅仅是不可变列表，其中的数据包含了位置信息
### 拆包

In [22]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),('ESP', 'XDA205856')]

In [23]:
lax_coordinates

(33.9425, -118.408056)

In [24]:
lon,lan=lax_coordinates

In [25]:
lon

33.9425

In [26]:
lan

-118.408056

In [27]:
city

'Tokyo'

In [30]:
for traveler_id in traveler_ids:
    print('%s/%s' % traveler_id)

USA/31195855
BRA/CE342567
ESP/XDA205856

In [31]:
*body, a,b,c =range(5)

In [32]:
body

[0, 1]

In [33]:
a

2

In [34]:
c

4

In [35]:
a, *body, b,c =range(5)

In [36]:
body

[1, 2]

### 具名元组

In [40]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
city = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [41]:
city

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [42]:
city.country

'JP'

In [43]:
city._fields

('name', 'country', 'population', 'coordinates')

In [45]:
from collections import namedtuple
LatLong = namedtuple('LatLong','lat long')
delhi_data=('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)

In [46]:
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [48]:
# 使用as_dict可以以一个collections.OrderedDict的格式返回数据
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

## 切片

In [50]:
l=[10,20,30,40,50,60]

In [51]:
l[:2]

[10, 20]

In [52]:
l[:-2]

[10, 20, 30, 40]

In [53]:
l[2:]

[30, 40, 50, 60]

In [54]:
# s[a:b:c] 对s在a和b之间以C为间隔取值
l[::3]

[10, 40]

In [55]:
l[::-1]

[60, 50, 40, 30, 20, 10]

In [56]:
# 将切片放在赋值语句的左边，可以很方便的实现列表的增删改查
l=[10,20,30,40,50,60]
l[2:5]

[30, 40, 50]

In [57]:
l[2:5]=[300,40,500]

In [58]:
l

[10, 20, 300, 40, 500, 60]

In [60]:
l=[10,20,30,40,50,60]

In [61]:
l[2::5]

[30]

In [62]:
l[2::4]

[30]

In [63]:
l[2::1]

[30, 40, 50, 60]

In [64]:
l[2::2]

[30, 50]

### 对列表执行\*和\+操作

对列表执行\*和\+操作的操作的时候，需要特别注意列表元素是引用的情况

In [71]:
board=[['_']*3 for i in range(3)]
print(board)
board[1][2]=0
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 0], ['_', '_', '_']]

In [74]:
# 上面的操作等价于：
board=[]
for i in range(3):
    row=['_']*3
    board.append(row)
board[1][2]=0
print(board)

[['_', '_', '_'], ['_', '_', 0], ['_', '_', '_']]

In [72]:
board=[['_']*3] * 3
print(board)
board[1][2]=0
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 0], ['_', '_', 0], ['_', '_', 0]]

In [75]:
# 上面的操作等价于：
board=[]
row=['_']*3
for i in range(3):
    board.append(row)
board[1][2]=0
print(board)

[['_', '_', 0], ['_', '_', 0], ['_', '_', 0]]

### 序列的增量赋值
增量赋值运算符+=和*=的表现形式跟第一个操作的对象有关系，取决于其是否实现了__iadd__方法,如果没有实现的话，就调用其__add__方法,'str'除外，不会生成中间变量

In [77]:
#举个列子，对于可变序列，比如array而言，不会生成一个中间的变量
l=[1,2,3]
print(id(l))
l*=2
print(id(l))

4434042368
4434042368

In [78]:
#举个列子，对于不可变序列，比如tuple而言，生成一个中间的变量,然后先把原始的元组值复制过去
#再进行相应的操作
l=(1,2,3)
print(id(l))
l*=2
print(id(l))

4433392576
4433869408

In [81]:
t=(1,2,[30,40])
# 虽然因为元组不可以被赋值而抛异常，但是t[2]的值确实被修改了
t[2]+=[50,60]

TypeError: 'tuple' object does not support item assignment

In [80]:
print(t)

(1, 2, [30, 40, 50, 60])

## 关于排序
### sort 和sorted
区别：sort是就地修改，所以返回值为None，而sorted会生成一个新的列表
参数：
key: 排序关键字
reverse：为True时结果降序输出，默认为False

In [83]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [84]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
fruits.sort(key=len)
print(fruits)

['grape', 'apple', 'banana', 'raspberry']

In [85]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
fruits.sort(key=len,reverse=True)
print(fruits)

['raspberry', 'banana', 'grape', 'apple']

In [86]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
new_fruits=sorted(fruits)
print(fruits)
print(new_fruits)

['grape', 'raspberry', 'apple', 'banana']
['apple', 'banana', 'grape', 'raspberry']

In [87]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
new_fruits=sorted(fruits,key=len,reverse=True)
print(fruits)
print(new_fruits)

['grape', 'raspberry', 'apple', 'banana']
['raspberry', 'banana', 'grape', 'apple']